@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
  --bacground-gray-color: #2f303a;
  --address-color: rgba(255, 255, 255, 0.6);
  --secondary-bgr-color: #f5f4fa;
  --primary-border-color: #ececec;
  --secondary-border-color: #eeeeee;
  --contacts-color: rgba(117, 117, 117, 1);
  --member-bcg-color: rgba(255, 255, 255, 1);
  --portfolio-bcg-color: rgba(245, 244, 250, 1);
  --hero-bacground: #c4c4c4;
  --clients-list-border: 1px solid #afb1b8;
  --icons-color: #afb1b8;
  --activities-background: rgba(47, 48, 58, 0.8);
  --text-background: rgba(33, 150, 243, 0.9);
  --backdrop-background: rgba(0, 0, 0, 0.2);
  --close-color: #000;
  --close-btn-border: rgba(0, 0, 0, 0.1);
  --input-border: rgba(33, 33, 33, 0.2);
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--primary-white-color);
}

.section {
  padding: 94px 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: var(--title-text-color);
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style: none;
  padding-left: 0;
}

.navigation__list-item--current {
  color: var(--accent-text-color);
  position: relative;
}

.navigation__list-item--current::after {
  content: "";
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  background-color: var(--accent-text-color);
  border-radius: 2px;
  position: absolute;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  cursor: pointer;
  background: var(--primary-white-color);
  color: var(--title-text-color);
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.icon {
  fill: var(--icons-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);
  padding: 10px 32px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  border-bottom: 1px solid var(--primary-border-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--accent-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  padding: 24px 0 25px 0;
}

.navigation__logo--black {
  color: var(--title-text-color);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__list-item {
  padding: 32px 0;
  display: block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__list-link {
  display: block;
}
.navigation__list-link:not(:first-child) {
  margin-left: 50px;
}

.navigation__list {
  font-weight: 500;
  line-height: 1.14;
  color: var(--title-text-color);
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__list a:hover,
.navigation__list a:focus {
  color: var(--accent-text-color);
}

.authentication {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.authentication a:hover,
.authentication a:focus {
  color: var(--accent-text-color);
}
.authentication a:hover svg,
.authentication a:focus svg {
  fill: var(--accent-text-color);
}

.authentication__email {
  padding: 32px 0;
  color: var(--contacts-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.authentication__phone {
  margin-left: 50px;
  padding: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--contacts-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.authentication__email-icon,
.authentication__phone-icon {
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  background: var(--hero-bacground);
  padding: 200px 0;
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/herobg.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__container {
  color: var(--primary-white-color);
  margin: 0 auto;
}

.hero__container-title {
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--primary-white-color);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.hero__button {
  margin-top: 30px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
  display: block;
  margin-bottom: 50px;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.features__list-title {
  font-size: 14px;
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--secondary-bgr-color);
}

.features__descr {
  line-height: 1.7;
}

.box {
  position: relative;
}

.description {
  position: absolute;
  bottom: 0;
  background: var(--activities-background);
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  width: 100%;
  padding: 27px 0;
}

.section-activities {
  padding-top: 0;
}

.activities-container {
  display: block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.activities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.activities-item {
  -ms-flex-preferred-size: calc((100% - 120px) / 3);
      flex-basis: calc((100% - 120px) / 3);
}

.person {
  margin-bottom: 30px;
}

.team-section {
  background-color: var(--secondary-bgr-color);
}

.team-container {
  display: block;
}

.members-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.members-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}

.member-item {
  -ms-flex-preferred-size: calc((100% - 150px) / 4);
      flex-basis: calc((100% - 150px) / 4);
  background-color: var(--member-bcg-color);
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.member-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.member-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.member-social-link:hover, .member-social-link:focus {
  background-color: var(--accent-text-color);
}
.member-social-link:hover svg, .member-social-link:focus svg {
  fill: var(--primary-white-color);
}

.social-icon {
  width: 20px;
  height: 20px;
}

.job {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  margin-bottom: 16px;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.clents-link {
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: var(--clients-list-border);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list:hover svg {
  fill: var(--accent-text-color);
}

.clients-list a:hover,
.clients-list a:focus {
  border-color: var(--accent-text-color);
}

footer {
  background-color: var(--bacground-gray-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.navigation__logo--white {
  color: var(--primary-white-color);
}

.adr-list a {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--address-color);
}

footer .fact {
  color: var(--primary-white-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-footer,
.phone {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-footer {
  padding: 60px 0;
}

.nav-footer {
  margin-top: 20px;
}

.footer-email {
  margin: 9px 0;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.studio-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--primary-white-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-social-link:hover,
.studio-social-link:focus {
  background-color: var(--accent-text-color);
}

.studio-social-link:hover svg,
.studio-social-link:focus svg {
  fill: var(--primary-white-color);
}

.studio-social {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}

.social-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.footer-social {
  margin-left: 70px;
}

.footer-social > p,
.subscription > p {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.subscription {
  margin-left: auto;
}

.subscription form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscription input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--bacground-gray-color);
  padding-left: 16px;
  outline: none;
  color: var(--primary-white-color);
}

.subscription button {
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  margin-left: 12px;
}

input::-webkit-input-placeholder {
  line-height: 1.25;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  color: var(--address-color);
}

input::-moz-placeholder {
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: var(--address-color);
}

input:-ms-input-placeholder {
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: var(--address-color);
}

input::-ms-input-placeholder {
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: var(--address-color);
}

input::placeholder {
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--address-color);
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--primary-white-color);
}

.button-section {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn {
  background-color: var(--portfolio-bcg-color);
  color: var(--title-text-color);
}

.btn-sec {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.cards {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards:hover,
.cards:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards:hover .text {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.card-box {
  overflow: hidden;
}

.text {
  position: absolute;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5;
  color: var(--primary-white-color);
  background-color: var(--text-background);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);
}

/* подписи к фото на портфолио */
.section-list {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.875;
}

/* портфолио названия картинок */
.caption {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

/* подпись под картинками в портфолио */
.work-item {
  padding: 20px 24px;
  border: 1px solid var(--secondary-border-color);
  border-top: none;
}

.descr {
  font-size: 16px;
  line-height: 1.875;
  color: var(--primary-text-color);
}

.backdrop {
  position: fixed;
  background: var(--backdrop-background);
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  fill: var(--close-color);
  background-color: var(--primary-white-color);
  border: 1px solid var(--close-btn-border);
  border-radius: 50%;
}

.modal p {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.close-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:focus svg,
.modal-close:hover svg {
  fill: var(--accent-text-color);
}

.form-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  padding: 0;
}

.form-element:nth-child(4) {
  margin-bottom: 20px;
}

.form-element input {
  border: none;
  height: 40px;
  padding-left: 42px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  outline: none;
  width: 100%;
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-element input:focus,
.form-element input:hover {
  outline: 1px solid var(--accent-text-color);
}

.form-element:focus-within svg {
  fill: var(--accent-text-color);
}

.input-wrap:hover svg {
  fill: var(--accent-text-color);
}

.form-element textarea {
  border: none;
  padding: 12px 16px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  resize: none;
  width: 100%;
  height: 120px;
  outline: none;
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-element textarea:focus,
.form-element textarea:hover {
  outline: 1px solid var(--accent-text-color);
}

.form-element label {
  margin-bottom: 4px;
}

label a {
  color: var(--accent-text-color);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  padding-left: 4px;
}

.accept {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.accept + label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 3px;
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 50%;
  bottom: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 15px;
}

.accept input:checked + label + .checkbox {
  background-color: var(--accent-text-color);
  border: none;
}

.btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-wrap label {
  margin-bottom: 30px;
}

.submit-btn {
  text-align: center;
  padding: 10px 52px;
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
}

.submit-btn:hover,
.submit-btn:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-icon {
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
  position: absolute;
  -webkit-transform: translatey(50%);
          transform: translatey(50%);
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
  position: relative;
}/*# sourceMappingURL=main.css.map */