.section__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-text-color);
    display: block;
    margin-bottom: 30px;

    @include desktop {
        font-size: 36px;
        line-height: 1.16;
        margin-bottom: 50px;
    }
}

.features__list {
    display: block;
    justify-content: center;

    @include tablet {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    @include desktop {
        display: flex;
        flex-wrap: nowrap;
    }
}

.features__list-title {
    font-size: 14px;
    color: var(--title-text-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;

    @include tablet {
        text-align: inherit;
    }
    @include desktop {
        text-align: inherit;
    }
}

.feature-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--secondary-bgr-color);

    .icon {
        width: 70px;
        height: 70px;
    }

    @include tablet {
        width: 354px;
    }

    @include desktop {
     width: 270px;
    }
}

.features__descr {
    line-height: 1.7;
}

.features__list-item {
    max-width: 100%;
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }

    @include tablet {
            max-width: 354px;
            width: calc((100% - 30px)/2);
        }
    
        @include desktop {
            width: 270px;
        }
}