.section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--title-text-color);
    display: block;
    margin-bottom: 50px;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    flex-wrap: nowrap;
}

.features__list-title {
    font-size: 14px;
    color: var(--title-text-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feature-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--secondary-bgr-color);
}

.features__descr {
    line-height: 1.7;
}