.section__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-text-color);
    display: block;
    margin-bottom: 30px;
}

.features__list {
    display: block;
    justify-content: center;

    @include tablet {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    @include desktop {
        display: flex;
    }
}

.features__list-title {
    font-size: 14px;
    color: var(--title-text-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feature-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 450px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--secondary-bgr-color);

    @include tablet {
        width: 354px;
    }

    @include desktop {
     width: 270px;
    }
}

.features__descr {
    line-height: 1.7;
}

.features__list-item {
    margin-bottom: 30px;

    @include tablet {
            width: 354px;
        }
    
        @include desktop {
            width: 270px;
        }
}