:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196f3;
    --primary-white-color: #ffffff;
    --bacground-gray-color: #2f303a;
    --address-color: rgba(255, 255, 255, 0.6);
    --secondary-bgr-color: #f5f4fa;
    --primary-border-color: #ececec;
    --secondary-border-color: #eeeeee;
    --contacts-color: rgba(117, 117, 117, 1);
    --member-bcg-color: rgba(255, 255, 255, 1);
    --portfolio-bcg-color: rgba(245, 244, 250, 1);
    --hero-bacground: #c4c4c4;
    --clients-list-border: 1px solid #afb1b8;
    --icons-color: #afb1b8;
    --activities-background: rgba(47, 48, 58, 0.8);
    --text-background: rgba(33, 150, 243, 0.9);
    --backdrop-background: rgba(0, 0, 0, 0.2);
    --close-color: #000;
    --close-btn-border: rgba(0, 0, 0, 0.1);
    --input-border: rgba(33, 33, 33, 0.2);
}